<div class="col-md-4 text-center">
  PLACEHOLDER FOR BUY!
  <div class="col">1</div>
  <div class="col">1</div>
  <div class="col">1</div>
  <div class="col">1</div>
  <div class="col">1</div>
  <div class="col">1</div>
  <div class="col">1</div>
  <div class="col">1</div>
  <div class="col">1</div>
  <div class="col">1</div>
</div>