<div class="col-6">
  <span class="badge bg-primary mb-3">구매중인 물품</span>

  <div id="buy_update">
    <%= render partial: 'page/components/buy_item', as: :item, collection: @items.where(buy_sell: true) %>
  </div>
</div>

<div class="col-6">
  <span class="badge bg-danger mb-3">판매중인 물품</span>
  <div id="sell_update">
    <%= render partial: 'page/components/buy_item', as: :item, collection: @items.where(buy_sell: false) %>
  </div>
</div>


