<header class="masthead text-white text-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col mx-auto" id="sticky-search">
          <form class="search">
            <div class="form-row">
              <div class="col-10">
                <input type="text" class="form-control form-control-lg" placeholder="아이템 검색...">
              </div>
              <div class="col-2">
                <button type="submit" class="btn btn-block btn-lg btn-primary">검색</button>
              </div>
            </div>
          </form>
          
        </div>
      </div>
    </div>
  </header>