<header class="masthead text-white text-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col mx-auto">
          <form class="search" id="page-search">
            <div class="form-row">
              <div class="col">
                <input type="text" class="page-item-search form-control form-control-lg" placeholder="아이템 검색...">
              </div>
            </div>
          </form>   
        </div>
      </div>
    </div>
</header>