<div class="container">
  <div class="row justify-content-center">
    <form class="search col mt-5" id="page-search">
      <div class="form-row">
        <input type="text" class="page-item-search form-control form-control-lg mx-5" placeholder="아이템 검색...">
      </div>
    </form>    
  </div>
</div>
