<header class="master-header">
  <%= render 'page/search'%>
</header>
<div class="grey-bg section">    
  <div  data-controller="infinite-scroll" data-action="scroll@window->infinite-scroll#scroll" class="container">
    <div data-infinite-scroll-target="entries" class="row">
      <%= render 'page/posts' %>
    </div>

    <div data-infinite-scroll-target="pagination">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>
</div>

