<header class="master-header">
</header>
<div class="section">
  <div class="row">
    <div class="col-md-2 text-center">adsense here</div>
    <%# make items registered controller and view %>
    <%= render 'page/sell' %>
    <%= render 'page/buy' %>
    <div class="col-md-2 text-center">adsense here</div>
  </div>
</div>

