<header class="master-header">
 <%= render 'page/search'%>
</header>
<div class="grey-bg section">
  <div class="row">
    
   
    <%# make items registered controller and view %>
    <div class="container row mx-auto">
      <%= render 'page/sell' %>
      <%= render 'page/buy' %>
    </div>
    
  </div>
</div>

