<header class="master-header">
 <%= render 'page/search'%>
</header>
<div class="section">
  <div class="row">
    
   
    <%# make items registered controller and view %>
    <%= render 'page/sell' %>
    <%= render 'page/buy' %>
    
  </div>
</div>

