<header class="master-header">
  <%= render 'page/search'%>
</header>
<div class="grey-bg section">
  
    <div class="container row mx-auto justify-content-center">
      <%= render 'page/posts' %>

      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  
</div>

