/*
 *= require font-awesome
*/

@import 'bootstrap/scss/bootstrap';

@import './navbar';

html,
body {
  height: 100%;
}

#sticky-footer {
  flex-shrink: none;
  background-color: lightblue;
}

#navbar {
  position: relative;
}

#flash {
  z-index: 99;
  right: 0rem;
}
