nav.navbar {
  background-color: lightblue !important;
}

.dropdown-menu {
  display: none;
}
.nav-item:hover .nav-link {
  color: rgb(0, 0, 0);
}
.nav-item:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: -85px;
  background-color: rgb(69, 100, 109);
  border: none;
}
.nav-item .dropdown-menu {
  margin-top: 0;
}
