header.page__container {
  position: relative;
  background-color: #343a40;
  background: url('./Wiki-background.jpg') no-repeat center;
  background-size: cover;
  padding-top: 10rem;
  padding-bottom: 8rem;
  height: auto;
  width: 100%;
  height: 500px;
  //object-fit: cover;
}
